body {
	font-family: Arial, sans-serif;
	background:linear-gradient(45deg, #007bff, #27ae60);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.clock {
	text-align: center;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 600px;
	height: 500px;
}
.stopwatch{ 
	font-size: 2.5rem;
	margin:20px 0;
	color: #333;

}

h3 {
	font-size: 1.5rem;
	color: #333;
}

.time {
	font-size: 2.5rem;
	margin: 20px 0;
	color: #333;
}

input[type="datetime-local"]
 {
	padding: 15px 20px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	max-width: 500px;
	margin-top: 10px;
	margin-left:40px ;
	margin-bottom:20px ;

}

 #setAlarm
 {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	margin-top:10px ;
	margin:7px ;

} 

 #setAlarm:hover
{
	background-color: #0056b3;
}
#startwatch
 {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	margin-top:10px ;
	margin:7px ;

} 

 #startwatch:hover
{
	background-color: #0056b3;
}
#stop
 {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	margin-top:10px ;
	margin: 7px;

} 

 #stop:hover
{
	background-color: #0056b3;
}
#Resetwatch
 {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	margin-top:10px ;
	margin:7px ;

} 

 #Resetwatch:hover
{
	background-color: #0056b3;
}
#clearAlarm{
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	margin-top:10px ;
	margin:7px ;


}

#clearAlarm:hover
{
	background-color: #0056b3;
}
.alarms {
	margin-top: 20px;
	text-align: left;
	color: #333;
} 


